<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#"><img src="../../assets/giphy.jpg" width="60" height="60" alt=""><span
            class="brand_name text-white">GIPHY</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><img src="../../assets/menu_icon.png" style="width:100%" alt=""></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#reactions">Reactions</a>
                <div class="nav-link_bottom"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Entertainment</a>
                <div class="nav-link_bottom"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sports</a>
                <div class="nav-link_bottom"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Stickers</a>
                <div class="nav-link_bottom"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Artists</a>
                <div class="nav-link_bottom"></div>
            </li>
        </ul>
    </div>
</nav>

<!-- Search Box -->
<div class="d-flex justify-content-between">
    <input type="text" class="w-100" id="gifs" placeholder="Search all the GIFs and Stickers">
    <button class='search_btn' id="search_gif">
        <img src='../../assets/search-icon.svg' />
    </button>
</div>